<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="startupkit.design">

  <title>Fancee - A design system built on top of bootstrap by startupkit.design</title>

  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
  <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
  <div class="container-fluid vh-100 bg-brand-gradient d-flex align-items-center justify-content-center py-4">
    <div class="row w-100 justify-content-center">
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 px-md-0">
        <div class="card mb-5">
          <div class="card-body">
            <h3 class="mb-6">Login</h3>

            <form action="#" method="#" class="mb-1">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control" id="email">
              </div> <!-- end of form-group -->

              <div class="form-group mb-4">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" id="password">
              </div> <!-- end of form-group -->

              <div class="text-right">
                <button type="submit" class="btn btn-primary btn-block">Login</button>
              </div> <!-- end of text-right -->
            </form>
          </div> <!-- end of card-body -->
        </div> <!-- end of card -->

        <a href="#0" class="d-block text-center text-light font-weight-medium mb-2">Forgot your password?</a>
        <a href="register.html" class="d-block text-center text-light font-weight-normal">Don't have an account?</a>
      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</body>
</html>
