{{#> layouts/base}}
  {{#*inline "content-block"}}
    <h1>This is the second page</h1>
    <h3>Used for demonstration purposes</h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam iure ut sit obcaecati quo doloribus unde. Incidunt, iste. Veniam at magni repudiandae doloremque laboriosam praesentium aperiam sapiente nostrum sunt cum?
    </p>
  {{/inline}}
{{/layouts/base}}
