<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>
    {{#if title}}
      {{title}}
    {{else}}
      Your front-end assistant
    {{/if}}
  </title>

  {{#> head-block}}
    {{!-- page specific <head> content --}}
  {{/head-block}}
</head>
<body>
  <div class="wrapper">
    {{> ../includes/header}}

    {{#> content-block}}
      {{!-- page content --}}
    {{/content-block}}

    {{> ../includes/footer}}
  </div>

  {{#> scripts-block}}
    {{!-- page specific scripts --}}
  {{/scripts-block}}
</body>
</html>
